/.venv/
**/__pycache__/
.env

# model artifacts
*.pkl
*.joblib

# data files (keep them out of git)
*.parquet

# only ignore the TOP-LEVEL data folder, not src/data
/data/

/.vscode/*
!.vscode/settings.json
!.vscode/extensions.json